body{
    
}

.btn-menu-prpal{
    margin: 5px;
}

.color-numero{
    background-color: #c2185b;
    color: white !important;
    border-radius: 9px;
}
.color-numero-p{
    background-color: #26a69a;
    color: white !important;
    border-radius: 5px;
}